<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio de Sesión</title>
    <!-- Bootstrap CSS -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>
<body>
    <section class="vh-100" style="background-color: #508bfc;">
        <div class="container py-5 h-100">
          <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12 col-md-8 col-lg-6 col-xl-5">
              <div class="card shadow-2-strong" style="border-radius: 1rem;">
                <div class="card-body p-5 text-center">
                  
                  <!--<p> {{token}} </p>-->
                  

                  <h3 class="mb-5">Ingrese los datos para su cita</h3>
                  

                  <form action="/cita/registro" method="post"> 
                    <div class="form-outline mb-4">
                      <input type="hidden" name="token" value = {{token}} id="typeEmailX-2" class="form-control form-control-lg" />
                    </div>

                  <div class="form-outline mb-4">
                    <input type="tex" name="nombre" id="typeEmailX-2" class="form-control form-control-lg" />
                    <label class="form-label" for="typeEmailX-2">Mascota</label>
                  </div>
                  
                  <!--
                  <div class="form-outline mb-4">
                    <input type="datetime-local" name="fecha" step="1" min="2023-01-01T00:00Z" max="2023-06-31T12:00Z" value="2023-01-01T12:00" id="typePasswordX-2" class="form-control form-control-lg" />
                    <label class="form-label" for="typePasswordX-2">Fecha</label>
                  </div>
                  -->

                  <div class="form-outline mb-4">
                    <input type="date" name="date" step="1" min="2023-01-01" max="2023-07-01" required/>
                    <label class="form-label" for="typePasswordX-2">Elija el dia</label>
                  </div>

                  <!--<p> PRUEBA DE USO DE DATALIST </p>-->
                  <div class="form-outline mb-4">
                    <label for="appt-time">Elija una hora: </label>
                    <input type="time" id="time" name="time" list="listalimitestiempo" step="3600"  required>
                  </div>

                  <datalist id="listalimitestiempo">
                    <option value="09:00">
                    <option value="10:00">
                    <option value="11:00">
                    <option value="12:00">
                    <option value="13:00">
                    <option value="14:00">
                    <option value="15:00">
                    <option value="16:00">
                    <option value="17:00">
                    <option value="18:00">
                    <option value="19:00">
                  </datalist>
                  <!--<p> PRUEBA DE USO DE DATALIST </p>-->

                  <p> {{mensaje}} </p>
                  <button class="btn btn-primary btn-lg btn-block" type="submit">Registrar mascota</button>
                </form>
                
                <a class="nav-link font-color-general mr-3 ml-3" href="http://127.0.0.1:5000/funcionesUsuario?auth_token={{token}}">Regresar</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
</body>
</html>
