<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio de Sesión</title>
    <!-- Bootstrap CSS -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
    <section class="vh-100" style="background-color: #508bfc;">
        <div class="container py-5 h-100">
          <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12 col-md-8 col-lg-6 col-xl-5">
              <div class="card shadow-2-strong" style="border-radius: 1rem;">
                <div class="card-body p-5 text-center">
                  
                  <!--<p> {{token}} </p>-->

                  <h3 class="mb-5">Ingrese los datos de su mascota</h3>
                  
                  <form action="/mascota/registro" method="post"> 
                    <div class="form-outline mb-4">
                      <input type="hidden" name="token" value = {{token}} id="typeEmailX-2" class="form-control form-control-lg" />
                    </div>

                  <form action="/mascota/registro" method="post"> 
                  <div class="form-outline mb-4">
                    <input type="tex" name="nombre" id="typeEmailX-2" class="form-control form-control-lg" />
                    <label class="form-label" for="typeEmailX-2">Nombre</label>
                  </div>
                  
                  <div class="form-outline mb-4">
                    <input type="text" name="tipo" id="typePasswordX-2" class="form-control form-control-lg" />
                    <label class="form-label" for="typePasswordX-2">Tipo</label>
                  </div>

                  <div class="form-outline mb-4">
                    <input type="text" name="raza" id="typePasswordX-2" class="form-control form-control-lg" />
                    <label class="form-label" for="typePasswordX-2">Raza</label>
                  </div>
      
                  <button class="btn btn-primary btn-lg btn-block" type="submit">Registrar mascota</button>
                </form>

                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
</body>
</html>
