<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>

    <!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

	<!-- google fonts -->
	<link href="https://fonts.googleapis.com/css?family=Underdog&display=swap" rel="stylesheet">

	<!-- nuestros estilos-->
	<link rel="stylesheet" type="text/css" href="style.css">

	<!-- iconos de friconix-->
	<script defer src="https://friconix.com/cdn/friconix.js"></script>
</head>
<body>
    <section class="vh-100 gradient-custom">
        <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12 col-md-8 col-lg-6 col-xl-5">
            <div class="card bg-dark text-white" style="border-radius: 1rem;">
                <div class="card-body p-5 text-center">
    
                <div class="mb-md-5 mt-md-4 pb-5" >
                    <p> {{token}} </p>

                    <a class="nav-link font-color-general mr-3 ml-3" href="http://127.0.0.1:5000/usuarios?token={{token}}">Mostrar usuarios</a>
                    <!-- PENDIENTE DE ACTUALIZAR MASCOTAS Y CITAS-->
                    <a class="nav-link font-color-general mr-3 ml-3" href="http://127.0.0.1:5000/mascotas?token={{token}}">Mostrar mascotas</a>
                    <a class="nav-link font-color-general mr-3 ml-3" href="http://127.0.0.1:5000/usuarios?token={{token}}">Mostrar citas</a>

                    <div class="d-flex justify-content-center text-center mt-4 pt-1">
                    <a href="#!" class="text-white"><i class="fab fa-facebook-f fa-lg"></i></a>
                    <a href="#!" class="text-white"><i class="fab fa-twitter fa-lg mx-4 px-2"></i></a>
                    <a href="#!" class="text-white"><i class="fab fa-google fa-lg"></i></a>
                    </div>

                </div>
    
                </div>
            </div>
            </div>
        </div>
        </div>
    </section>
</body>
</html>


<!--
<!DOCTYPE html>
<html>

<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width">
<title>Veterinaria Huellitas -Administración</title>
</head>

<body>

<h1>Bienvenido Admin</h1>

<form action="/pba-users" method="post"></form>
<input type="text" name="token"><br/>
<input type="submit" value="Iniciar Sesión" />
</form>
-->
<!--  
<form action="/mascotas" method="post"></form>
<input type="text" name="token"><br/>
<input type="submit" value="Iniciar Sesión" />
</form>
-->

<!--  
<form action="" method="get"></form>
<h1>http://127.0.0.1:5000//mascotas?token={{auth_token}}</h1>
<button onclick="location.href='http://127.0.0.1:5000//mascotas/{{auth_token}}'"> Listado completo de mascotas</button>
<button onclick="location.href='http://127.0.0.1:5000//citas'">Ver citas</button>
<button onclick="location.href='http://127.0.0.1:5000//usuarios'" auth_token = auth_token>Ver usuarios</button>
</form>
-->
<!-- 
</body>

</html>
-->