<!doctype html>
<html lang="zxx">
<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

	<!-- google fonts -->
	<link href="https://fonts.googleapis.com/css?family=Underdog&display=swap" rel="stylesheet">

	<!-- nuestros estilos-->
	<!--<link rel="stylesheet" type="text/css" href="style_index.css">-->

	<!-- iconos de friconix-->
	<script defer src="https://friconix.com/cdn/friconix.js"></script>

	<title>Veterinaria Huellitas</title>
</head>
<body>


	<!-- INICIO SECCIÓN INFORMES -->
	<div class="container-fluid bg-color-info font-color-general" id="inicio">
		<div class="row">
			<div class="col-12 col-lg-6 text-center text-lg-left my-3 pl-5">
				Col. Centro, Nuevo Laredo
			</div> 

			<div class="col-12 col-lg-6 text-center text-lg-right my-3 pr-5">
				Lunes a Viernes de 9 am a 7 pm. <span class="font-weigth-bolder"><i class="fi-xnsuxl-smartphone-solid"></i> 867 123 5598</span> 
			</div>
		</div>
	</div>

	<!-- FIN SECCIÓN INFORMES -->

	<!-- INICIO NAVBAR -->
	<nav class="navbar navbar-expand-lg sticky-top bg-light">
		<span class="brand-name">Veterinaria Huellitas</span>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="font-color-general"><i class="fi-xwsrxl-ellipsis"></i></span>
		</button>

		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav ml-auto">
				<li class="nav-item active">
					<a class="nav-link font-color-general mr-lg-3 ml-3" href="http://127.0.0.1:5000/auth/registro">Registrarse</a>
				</li>
				<li class="nav-item active">
					<a class="nav-link font-color-general mr-3 ml-3" href="http://127.0.0.1:5000/auth/login">Ingresar</a>
				</li>
			</ul>
		</div>
	</nav>

	<!-- FIN NAVBAR -->


	<!-- INICIO SECCIÓN PRINCIPAL -->
	<section class="container-fluid">

		<div class="row bg-img-principal align-items-center">
			<div>
				<h3 align="center" class="font-color-general">Clínica veterinaria que en verdad se preocupa por tu mascota 🐕🐈</h3><br>
				<p>
					Tenemos más de 10 años ofreciendo nuestros servicios a personas como tú, que necesitan la mejor atención para su mascota.	
				</p>
				<p>
					Tenemos disponibles a los mejores veterinarios de la ciudad. Están en capacitación constante y siempre disponibles para darte el mejor servicio.
				</p>
			</div>


		</div>
		
	</section>
	<!-- FIN SECCIÓN PRINCIPAL -->

    <!-- INICIO SECCIÓN SERVICIOS-->
	<section class="container-fluid" id="servicios">

		<h4 class="text-center p-3 font-color-general">
			Servicios
		</h4>

		<hr class="hrazul">

		<div class="row">
			<div class="col-12 col-lg-4">
				<h5 class="font-color-general text-center p-3">Evaluación Nutricional</h5>
				<img src="https://escuelaclinica.lat/wp-content/uploads/LCSA166.jpg" class="img-fluid" alt="imagen nutricion">	
				<p class="p-3">
					En la Veterinaria Huellitas creemos firmemente que una dieta sana y nutritiva establece los cimientos para el bienestar y prevención de enfermedades a lo largo de la vida de su mascota. <br>
					La orientación nutricional es un componente vital en sus cuidados, ya que a medida que envejecen sus necesidades nutricionales cambian.
				</p>

			</div>

			<div class="col-12 col-lg-4">
				<h5 class="font-color-general text-center p-3">Consulta General</h5>
				<img src="https://papelmatic.com/wp-content/uploads/2019/09/papelmatic-higiene-profesional-limpieza-desinfeccion-clinicas-veterinarias.jpg" class="img-fluid" alt="imagen chequeo">	
				<p class="p-3">
					La Clínica Veterinaria Huellitas cuenta con médicos veterinarios expertos en diferentes disciplinas y con la metodología necesaria para llegar a los diagnósticos que permitirán enfocar los tratamientos de manera eficiente y oportuna, seguimos a detalle el expediente clínico orientado a problemas, en el que al conjuntar los datos generales, la historia clínica y el examen clínico podemos arrojar la lista de problemas que nos permitirá agrupar los signos de acuerdo a problemas específicos y recomendar las pruebas de laboratorio necesarias.
				</p>
			</div>

			<div class="col-12 col-lg-4">
				<h5 class="font-color-general text-center p-3">Esterilización</h5>
				<img src="https://theeducatedmachine.com/wp-content/uploads/2021/05/Medicina-veterinaria.jpg" class="img-fluid" alt="imagen masaje">	
				<p class="p-3">
					Si tienes una mascota, una de las decisiones más importantes que debes tomar es acerca de esterilizar o castrar a tu perro o gato.
					<br>
					La esterilización veterinaria o castración es un procedimiento quirúrgico que requiere de una hospitalización mínima, ofreciendo un gran beneficio para la salud de tus mascotas de por vida. 
				</p>
			</div>

		</div>
	</section>

	<!-- FIN SECCIÓN SERVICIOS-->
</body>
</html>