<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mascotas</title>
</head>
<body>
    <h1> Mostrando todas las Mascotas registradas en la aplicacion</h1>

    {% if mascotas %}
        <!-- Tabla con bordes-->
        <TABLE BORDER>
            <TR>
                <TH>Nombre</TH> <TH>Raza</TH> <TH>Tipo</TH>
            </TR>
            {% for mascota in mascotas %}
                <TR>
                    <TD>{{ mascota['nombre'] }}</TD> <TD>{{ mascota['raza'] }}</TD> <TD>{{ mascota['tipo'] }} </TD>
                </TR>
            {% endfor %}
        </TABLE>
        <!-- Fin de tabla con bordes-->
    {% else %}
        <p> no hay mascotas registradas </p>
    {% endif %}

    <a class="nav-link font-color-general mr-3 ml-3" href="http://127.0.0.1:5000/funcionesAdmin?auth_token={{token}}">Regresar</a>
</body>
</html>